@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

/* 1. Fonts Theme */
@theme {
  --font-heading: "var(--font-playfair)", serif;
  --font-body: "var(--font-montserrat)", sans-serif;
}

@layer base {
  h1, h2, h3 {
    font-family: var(--font-heading);
    letter-spacing: 0.02em; 
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.1;
  }

  body {
    font-family: var(--font-body);
    font-size: 1rem;
    letter-spacing: 0.05em;
    text-transform: none;
    @apply bg-white text-black dark:bg-[#000B25] dark:text-white;
  }
}

/* --- Global Utilities --- */
html,
body {
  width: 100%;
  max-width: 100%;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

nav {
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  max-width: 100vw !important;
}


